big-O==0.11.0
contourpy==1.1.1
cycler==0.12.0
fonttools==4.43.1
kiwisolver==1.4.5
matplotlib==3.8.0
mypy==1.5.1
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.0
packaging==23.2
Pillow==10.0.1
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.8.0
